@import "tailwindcss";

:root {
  --background: #E8F5BD;
  --foreground: #2f4a2a;
  --primary: #47763e;
  --secondary: #A2CB8B;
  --accent: #f3fbdc;
  --button-primary-border: #C7EABB;
  --surface: white;
  --surfac: white;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --border-primary: var(--button-primary-border);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
